<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <!--    <link rel="icon" href="%PUBLIC_URL%/favicon.ico"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="Web site created using create-react-app"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    {% load static %}
    <link rel="stylesheet" style="text/css" href="{% static 'absa/style.css' %}">
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png"/>
    <!--
        manifest.json provides metadata used when your web app is installed on a
        user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
      -->
    <!--    <link rel="manifest" href="%PUBLIC_URL%/manifest.json"/>-->
    <!--
        Notice the use of %PUBLIC_URL% in the tags above.
        It will be replaced with the URL of the `public` folder during the build.
        Only files inside the `public` folder can be referenced from the HTML.

        Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
        work correctly both with client-side routing and a non-root public URL.
        Learn how to configure a non-root public URL by running `npm run build`.
      -->
    <title>Aspect based sentiment analysis</title>
</head>
<body>
<div class="ABSA">
    <form>
        <div class="form-group">
            <p id="titleParagraph">Review paragraph</p>
            <textarea class="form-control" id="paragraph" rows="10" name="paragraph"></textarea>
        </div>
        <input type="submit" id="submitbtn" class="btn btn-default" value="Analyze" method='get'/>
        <table class="table-striped table-bordered active" id="resultTable">
            <thead>
            <tr>
                <th class="col-md-7">Entire paragraph</th>
                <th>Sentiment - Score</th>
                <th>Topic</th>
            </tr>
            </thead>
            <tbody>
            {% if  entire_paragraph %}
            <tr>
                <td>{{entire_paragraph.text}}</td>
                <td>{{entire_paragraph.sentiment_type}} - {{entire_paragraph.sentiment_score}}</td>
                <td>{{entire_paragraph.topic}}</td>
            </tr>
            {% endif %}
            </tbody>

            <thead>
            <tr>
                <th class="col-md-7">Opinions</th>
                <th>Sentiment - Score</th>
                <th>Topic</th>
            </tr>
            </thead>
            {% for opi_result in inside_opinions %}
            <tr>
                <td>{{opi_result.text}}</td>
                <td>{{opi_result.sentiment_type}} - {{opi_result.sentiment_score}}</td>
                <td>{{opi_result.topic}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</div>
</body>
</html>