body {
  background-image: url("imgs/water.jpg");
  background-size: cover;
}

#titleParagraph{
    font-size : 170%;
    width: 70%;
    padding: 1%;
    margin: auto;
    text-align: center;
}
#paragraph {
    font-size : 120%;
    width: 80%;
    padding: 1%;
    margin: auto;
}

#submitbtn {
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 45%;
    border-radius: 15%;
    border-style: hidden;
    background-color: aqua;
    align-self: center;
}

#resultTable {
    width: 90%;
    padding: 1%;
    margin: auto;
    margin-top: 1%;
    font-size : 120%;
    background-color: grey;
}

#resultTable th, td {
    padding: 1%;
}

#resultTable th {
    background-color: aqua
}
